{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}} bg-blue" data-template="base.twig">
		{{ function('wp_body_open') }}
    <svg style="display: none" version="2.0">  
      <defs>  
        {% include 'partial/svgs.twig' %}
      </defs>
    </svg>
		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>


		<header class="lfl-section pt-6 md:py-2 flex justify-center relative z-30">
      <div class="my-auto md:relative z-10 w-full text-white">
        <div class="flex gap-0 items-center justify-center md:justify-between h-full">
          <div class="lfl-logo lfl-logo--header">
            <a href="/">  
              <svg width="100%" aria-labelledby="litle-fish-title" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 1080 274">
                <title id="litle-fish-title">Little Fish Labs</title>
                <use href="#little-fish-lab-logo" /> 
              </svg>
            </a>
          </div>
          {% block header %}
            {% include 'partial/primary-nav.twig' %}
          {% endblock %}
        </div>
      </div>
  	</header>

		 <main id="content">
      {% block content %}
        Sorry, no content
      {% endblock %}
		</main>

		{% block footer %}
			<footer id="footer" class="px-fluid-base max-w-screen-2xl py-6 mx-auto">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
    <script src="//instant.page/5.2.0" type="module" integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z"></script>
	</body>
</html>
