{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}} bg-blue" data-template="base.twig">
		{{ function('wp_body_open') }}
    <svg style="display: none" version="2.0">  
      <defs>  
        {% include 'partial/svgs.twig' %}
      </defs>
    </svg>
		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
		<header class="lfl-section pt-6 md:py-2 flex justify-center">
			{% block header %}
        {% include 'partial/primary-nav.twig' %}
			{% endblock %}
		</header>

		 <main id="content">
      {% block content %}
        Sorry, no content
      {% endblock %}
		</main>

		{% block footer %}
			<footer id="footer" class="px-fluid-base max-w-screen-2xl py-6 mx-auto">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
