<div class="lfl-footer">
  <div class="lfl-footer__logo-copyright">
    <div class="lfl-logo lfl-logo--footer">
      <svg width="100%" aria-labelledby="lfl-footer-title" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 480 246">
        <title id="lfl-footer-title">Little Fish Labs</title>
        <use href="#little-fish-lab-logo-horiz-white" /> 
      </svg>
    </div>
    <span class="font-extended text-sm sm:text-base text-white">Copyright {{"now"|date('Y')}} Little Fish Labs</span>
  </div>
  <div class="lfl-footer__socials">
    {# <a href="" class="lfl-icon">
      <svg width="100%" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 50 50">
        <use href="#lfl-svg-instagram" /> 
      </svg>
      <span class="sr-only">Instragram</span>
    </a>
    <a href="" class="lfl-icon">
      <svg width="100%" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 50 50">
        <use href="#lfl-svg-x" /> 
      </svg>
      <span class="sr-only">X</span>
    </a> #}
    <a href="" class="lfl-icon">
      <svg width="100%" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 50 50">
        <use href="#lfl-svg-linkedin" /> 
      </svg>
      <span class="sr-only">LinkedIn</span>
    </a>
    {# <a href="" class="lfl-icon">
      <svg width="100%" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 50 50">
        <use href="#lfl-svg-facebook" /> 
      </svg>
      <span class="sr-only">Facebook</span>
    </a> #}
  </div>
</div>
