<div class="lfl-footer">
  <div class="lfl-footer__logo-copyright">
    <div class="lfl-logo">
      <svg width="100%" aria-labelledby="litle-fish-title" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 1080 274">
        <title id="litle-fish-title">Little Fish Labs</title>
        <use href="#little-fish-lab-logo" /> 
      </svg>
    </div>
    <span class="font-extended text-white">Copyright {{"now"|date('Y')}} Little Fish Labs</span>
  </div>
  <div class="lfl-footer__socials">
    <a href="" class="lfl-icon lfl-icon--insta"><span class="sr-only">Instragram</span></a>
    <a href="" class="lfl-icon lfl-icon--x"><span class="sr-only">X</span></a>
    <a href="" class="lfl-icon lfl-icon--linkedin"><span class="sr-only">LinkedIn</span></a>
    <a href="" class="lfl-icon lfl-icon--fb"><span class="sr-only">Facebook</span></a>
  </div>
</div>
