{% extends "base-white.twig" %}

{% block content %}
  <div class="bg-white pb-12">
  <section class="lfl-section pt-12">
    <div class="lfl-page-hero lfl-page-hero--about-us xl:min-h-[430px]">
      {% include "partial/page-hero.twig" %}
    </div>
    <hr class="mt-10 md:mt-16 md:mb-4 lfl-page-break">
  </section>  
  </div>
{% endblock %}
