{% extends "page.twig" %}

{% block content %}

<section class="bg-blue">
  <div class="lfl-section pt-12">
    <div class="lfl-page-hero lfl-page-hero--white products">
      {% include "partial/page-hero-blue.twig" %}
    </div>
  </div> 
</section>

<section class="bg-white py-12">
  <div class="lfl-content lfl-section">
  {{post.content}}
  </div>
</section>
{% endblock %}
