{% extends "base-white.twig" %}

{% block content %}

  <div class="bg-white pb-12">
    <section class="lfl-section pt-12">
    
      <div class="lfl-page-hero{% if post.meta('switch_hero_image') %} lfl-page-hero--right {% endif %} xl:min-h-[430px]">
        <div class="lfl-page-hero__content">
          {% include "partial/page-hero.twig" %}
        </div>
        <div class="lfl-page-hero__image" aria-hidden="true">
          <img src="{{get_image(post.meta('hero_image')).src}}" alt="{{get_image(post.meta('hero_image').image).alt|default(get_image(post.meta('hero_image')).title)}}" />
        </div>
      </div>
    </section>   

    <section class="bg-white py-12">
      <div class="lfl-content lfl-section">
      {{post.content}}
      </div>
    </section>
  </div>
{% endblock %}
