{% extends "page.twig" %}

{% block content %}

 <section>
  <div 
    class="lfl-section pt-12">
    <div class="lfl-page-hero lfl-page-hero--white products">
      <div class="lfl-page-hero__content lfl-page-hero__content--overlay">
      {% include "partial/page-hero-blue.twig" %}
      </div>
    </div>
  </div> 
</section>

<section class="bg-white py-12">
  <div class="lfl-content lfl-section">
  {{post.content}}
  </div>
</section>
{% endblock %}
