@layer components {

  /*
   * Nav Overlay (movile)
   */

  .lfl-nav-overlay {
    @apply hidden;
    @apply fixed top-0 right-0 left-0 bottom-0;
    @apply overflow-scroll h-screen;
    @apply bg-blue;
  }

  .lfl-nav-overlay__close svg,
  .lfl-nav-mobile__open svg {
    @apply stroke-blue;
  }

  .lfl-nav-overlay__close:hover svg,
  .lfl-nav-mobile__open:hover svg {
    @apply stroke-white;
  }

  .lfl-nav-mobile__open {
    @apply absolute right-4 top-4;
  }
  
  .logged-in.admin-bar .lfl-nav-mobile__open {
    top: calc(1rem + 46px);
  }

  .lfl-nav-overlay__close {
    @apply absolute right-4 mt-4;
  }
  
  .lfl-nav-overlay__header button {
    @apply float-right relative right-4;
  }
  
  .logged-in.admin-bar .lfl-nav-overlay {
    @apply pt-[46px];
  }
  
  @media screen(wp_admin) {
    .logged-in.admin-bar .lfl-nav-overlay {
      @apply pt-[32px];
    }
  }
  

  .lfl-nav-mobile__logo {
    @apply mx-auto pt-6;
  }

  /*
   * Our Brands - Brand and Product
   */

  .lfl-brand-product-container {
    @apply grid grid-cols-1 lg:grid-cols-2 gap-8;
  }

  .lfl-brand-product {
    @apply p-6;
    @apply bg-gray-100 rounded-lg overflow-hidden;
  }

  .lfl-brand-product__header {
    @apply sm:flex gap-4 justify-between;
    @apply mb-6 md:mb-2;
  }
  
  .lfl-brand-product__image {
    @apply basis-40 shrink-0;
    @apply overflow-hidden;
  }

  .lfl-brand-product__image img {
    @apply mx-auto;
    @apply w-40 h-40 max-w-none rounded-full object-cover;
  }

  /*
   * Our Brands - Brand and Product
   */
   .lfl-brand-container {
    /* @apply grid grid-cols-1 lg:grid-cols-2 gap-8; */
  }

  .lfl-brand {
    @apply mb-16;
  }

  .lfl-brand__image img {
    @apply object-contain mx-auto max-h-40 mb-6;
  }

  .lfl-brand__strapline {
    @apply font-extended text-lg sm:text-xl md:text-2xl text-blue text-center;
    @apply w-5/6 max-w-[860px] mx-auto mb-6;
  }

  .lfl-brand__description {
    @apply md:w-2/6 mb-8 sm:mb-16 mx-auto text-center;
  }


  /*
   * About Team Member
   */
  .lfl-about-team-member {
    @apply md:flex md:mb-6 clear-right;
  }
  
  .lfl-about-team-member:nth-of-type(even) {
    @apply flex-row-reverse;
  }
  
  .lfl-about-team-member__image {
    @apply flex-1;
  }
  
  .lfl-about-team-member__image img {
    @apply mx-auto;
  }

  .lfl-about-team-member__content {
    @apply flex-1 flex flex-col justify-center;
  }

  .lfl-about-team-member__title {
    @apply lfl-heading-s text-blue-700;
  }

  .lfl-about-team-member__role {
    @apply font-extended font-normal;
  }

  /*
   * Page hero
   */
  .lfl-page-hero {
    @apply md:w-1/2;
    @apply relative;
  }
  .lfl-page-hero p:last-child {
    @apply mb-0;
  }
  
  .lfl-page-hero.lfl-page-hero--about-us:after {
    content: "";
    background-image: url('../img/about-page-hero.png');
    @apply bg-no-repeat bg-contain bg-center;
    @apply w-[97%] h-60 md:h-[460px];
    @apply block md:absolute top-0 -right-full;
  }

  /*
   * Icon
   */
  .lfl-icon {
    @apply block rounded-full bg-white h-10 w-10 p-1.5;
  }

  .lfl-icon svg {
    fill: #1301E8
  }

  .lfl-icon:focus,
  .lfl-icon:hover {
    @apply bg-blue border-2 border-white;
  }
  .lfl-icon:focus svg,
  .lfl-icon:hover svg {
    fill: white;
  }
  
  /*
   * Footer
   */
  .lfl-footer {
    @apply md:grid grid-cols-3 justify-between items-center mt-3 mb-5;
  }

  .lfl-footer__logo-copyright {
    @apply col-start-2 flex flex-col items-center text-center;
    @apply mb-6;
  }
  .lfl-footer__socials {
    @apply col-start-3 flex gap-4 justify-center;
  }
  .lfl-footer__socials a {
    @apply mb-0;
  }

  /*
   * Controls for carousel/slider
   */
  .lfl_glide-controls {
    @apply flex gap-4 h-20 justify-center items-center;
  }
  
  .lfl_glide-controls .slider__arrow:hover svg .bg {
    fill: #1301CF;
  }
  .lfl_glide-controls .slider__arrow:hover svg .fg {
    fill: white;
  }

  /*
   * Homepage Team blocks
   */

  /* 
  .lfl-hp-teams-container {
    @apply grid grid-cols-1 gap-8;
    @apply grid grid-cols-1 lg:grid-cols-2 gap-8;
  } */
  
  .lfl-hp-team-member {
    @apply sm:flex sm:gap-8 items-stretch;
    @apply bg-gray-100 rounded-lg overflow-hidden;
    @apply border border-blue-400;
    @apply h-auto sm:h-80;
  }
  .lfl-hp-team-member__image {
    flex: 0 1 33%;
  }

  .lfl-hp-team-member__image img {
    @apply object-cover w-full h-[500px] sm:h-full;
  }
  .lfl-hp-team-member__content {
    flex: 2;
    @apply p-4 xs:p-6 sm:p-8;
  }
  .lfl-hp-team-member__title {
    @apply mb-0;
    @apply font-extended font-light text-lg text-blue-600;
  }
  .lfl-hp-team-member__role {
    @apply mb-6;
    @apply font-extended text-md text-black font-normal;
  }

  /*
   * Homepage Brand blocks
   */
  .lfl-hp-brands-container {
    @apply grid grid-cols-1 lg:grid-cols-2 gap-8;
  }

  .lfl-hp-brand {
    @apply grid sm:flex sm:gap-8 p-4 xs:p-8;
    @apply bg-gray-100 rounded-lg;
  }
  
  .lfl-hp-brand__image {
    @apply flex-1;
    @apply max-w-64 mx-auto sm:h-3/4;
  }

  .lfl-hp-brand__image img {
    @apply object-contain max-w-full;
  }

  .lfl-hp-brand__content {
    @apply flex-[2_1_0%];
    @apply flex flex-col items-baseline;
  }
  
  .lfl-hp-brand__content > div {
    @apply mb-auto;
  }


  /*
   * Homepage hero
   */
  .lfl-hp-hero {
    /* @apply h-[60vh]; */
    @apply bg-no-repeat;
    background-size: clamp(100%, 110% + 2vw, 120%) auto;
    background-position-x: center;
    background-position-y: calc(100% + 2px);
    min-height: clamp(400px, 100svh - 140px, 640px);
  }

  @media screen(md) {
    .lfl-hp-hero {
      min-height: clamp(648px, 100svh - 140px, 1024px);
    }
  }

  .lfl-hp-hero__intro-panel {
   @apply max-w-md; 
   @apply relative left-[3%] top-12 md:top-20 lg:top-40;
  }

  /*
   * Homepage hero intro
   */
   .lfl-hp-hero-intro {

   }


  /*
   * Homepage Logo
   */
  .lfl-logo {
    @apply max-w-full w-[340px];
  }

  .lfl-logo--header {
    @apply relative md:-left-6;
  }


  /*
   * Homepage Quote Block
   */
  .lfl-hp-quote {
    @apply h-full;
    @apply font-extended font-light text-center text-blue-600 sm:text-left;
    @apply sm:flex justify-center items-center gap-12;
  }

  .lfl-hp-quote__image {
    @apply basis-40 shrink-0;
    @apply mb-6 sm:mb-0;
    @apply mx-auto sm:mx-0;
    @apply overflow-hidden;
  }

  .lfl-hp-quote__image img {
    @apply mx-auto;
    @apply w-40 h-40 max-w-none rounded-full object-cover;
  }

  .lfl-hp-quote__quote {
    @apply text-lg sm:text-xl md:text-2xl text-blue-700;
  }
  .lfl-hp-quote__name {
    @apply text-md text-blue-700;
  }

  /*
   * What We Do container and blocks
   */
  @media screen(sm) {
    .lfl-wwd-container {
      @apply grid grid-cols-2 lg:grid-cols-4 gap-12 lg:gap-6 xl:gap-12;
    }
  }

  .lfl-wwd {
    @apply flex flex-col;
    @apply mb-8 sm:mb-0;
  }

  .lfl-wwd:last-child {
    @apply mb-0;
  }

  .lfl-wwd__image {
    @apply mb-4;
  }

  .lfl-wwd__title {
    @apply mb-2;
    @apply font-extended font-light text-lg text-blue;
  }

  .lfl-wwd__detail {
    @apply font-sans font-light mb-auto pb-6;
  }

  /*
   * Link button
   */
  .lfl-link-button {
    @apply whitespace-nowrap;
    @apply text-center text-blue-700;
    @apply inline-block py-1 px-12;
    @apply border border-blue rounded-full bg-white;
  }
  .lfl-link-button:hover {
    @apply bg-blue text-white;
  } 

  .lfl-link-button--light {
    @apply text-center text-white bg-transparent;
    @apply border-white;
  }

  .lfl-link-button--light:hover {
    @apply bg-white text-blue-700;
    @apply relative;
  }
}
