<h1>
  <div class="eyebrow mb-0">{{post.meta("title")|default(post.title)}}</div>
  {% if not post.meta('subtitle') == "" %}
  <div class="lfl-heading-s sm:lfl-heading-m lg:lfl-heading-l text-blue-600">{{post.meta('subtitle')}}</div>
  {% endif %}
</h1>

{% if not post.meta("page_introduction") == "" %}
<div class="max-w-prose mt-4 md:mt-8">{{post.meta("page_introduction")}}</div>
{% endif %}
