<h1>
  <div class="eyebrow mb-0 text-white">{{post.meta("title")|default(post.title)}}</div>
  {% if not post.meta('subtitle') == "" %}
  <div class="lfl-heading-s xs:lfl-heading-m sm:lfl-heading-l text-white mb-8">{{post.meta('subtitle')}}</div>
  {% endif %}
</h1>

{% if not post.meta("page_introduction") == "" %}
<div class="max-w-prose sm:mb-12 text-white">{{post.meta("page_introduction")}}</div>
{% endif %}
{% if not post.meta('large_quote')|trim == "" %}
<p class="lfl-heading-s xs:lfl-heading-m sm:lfl-heading-l text-white">&ldquo;{{post.meta('large_quote')}}&rdquo;</h2>
{% endif %}

